:root {
  --color-default: #364d59;
  --color-primary: #feb900;
  --color-secondary: #52565e;
}

:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Work Sans", sans-serif;
}

.dropdown {
    position: relative;
    display: block;
    width: 100%;
}

.dropbtn {
    width: 100%;
    background-color: transparent; /* Сделать фон прозрачным */
    color: #333; /* Цвет текста */
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: relative;
    width: 100%;
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Optional: for better readability */
    color: white;
    padding: 10px;
}   
.carousel-item {
    transition: transform 0.5s ease;
}
.mobile-image {
    display: none; /* Initially hidden */
    background-image: url('MostGroupKG/assets/img/main-back.png'); /* Path to static image */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  
  /* Media query for devices with max-width of 768px */
  @media (max-width: 768px) {
    .desktop-video {
      display: none; /* Hide the video on mobile devices */
    }
    .mobile-image {
      display: block; /* Show the image on mobile devices */
    }
  }
  /* Basic CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the hero container */
.hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/* Styling for the video background */
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling for the hero content */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 3rem;
    padding: 10px; /* Отступы внутри блока */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0); /* Тень блока */
}

.hero-content p {
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px; /* Отступы внутри блока */
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1.0); /* Тень блока */
    line-height: 1.2;
}
.hero-content p span {
  font-size: 15px;
  margin-bottom: 5px;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 1.0);
  line-height:1;
}
#whatsapp-widget {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #bef0d1;
  color: #fff;
  padding: 5px;
  border-radius: 50px; /* Изменено на 50% для создания круглого виджета */
  cursor: pointer;
  background-size: 60px; /* Устанавливаем размер фона под иконку (в данном случае 60px) */
  background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
  background-position: center center; /* Позиционируем фон в центре виджета */
  transition: background-color 0.3s; /* Добавляем анимацию изменения цвета фона */
}

#whatsapp-widget:hover {
  background-color: #8ed6bb; /* Цвет фона при наведении */
  animation: bounce 0.5s; /* Анимация при наведении */
}

@keyframes bounce {
  0% {
    transform: translateY(0); /* Начальное положение */
  }
  50% {
    transform: translateY(-5px); /* Положение в середине анимации */
  }
  100% {
    transform: translateY(0); /* Конечное положение */
  }
}

  /* Стили для модального окна */
  #modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Стили для формы в модальном окне */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #25d366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #128c7e;
}

button.close-button {
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

button.close-button:hover {
    background-color: #d3302e;
}
    /* Стили для фиксированной строки */
.contact-bar {
    display: flex;
    position: fixed;
    top: -50px;
    left: 0;
    height: auto;
    width: 100%;
    color: var(--color-primary); /* Цвет текста */
    text-align: center;
    transition: top 0.3s;
    z-index: 9999; /* Установка наибольшего значения z-index */
}
    /* Стили для ссылок */
.contact-bar a {
    color: var(--color-primary); /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    margin-right: 50px;
    margin-left: 25px;
}

.container a:last-child {
  margin-right: 0; /* Убираем правый отступ у последней ссылки */
}

.spacer {
  flex-grow: 1; /* Пространство, которое занимает пустой блок, растягивается, чтобы занять все оставшееся пространство */
}

@media (max-width: 768px) {
  .contact-bar {
      top: 0; /* Показываем панель контактов при прокрутке вверх на мобильных устройствах */
  }
  .contact-bar a {
    margin-right: 15px;
    margin-left: 3px;
    font-size: smaller;
  }
}

.image-container {
    width: auto;  /* Автоматическая ширина, чтобы сохранить пропорции */
    height: 600px;  /* Фиксированная высота контейнера */
    overflow: hidden;  /* Скрыть части изображения, которые выходят за рамки контейнера */
}
.image-container img {
  width: 100%;  /* Заполнить ширину контейнера */
  height: auto;  /* Автоматическая высота для сохранения пропорций */
  object-fit: cover;  /* Обрезать изображение, чтобы оно заполнило контейнер без искажения пропорций */
  object-position: top;  /* Выровнять изображение по верхней части контейнера */
}

.rectangle-image {
  width: auto;  /* Фиксированная ширина второго изображения */
  height: auto;  /* Автоматическая высота для сохранения пропорций */
  display: block;  /* Убедиться, что изображение не строчное */
  margin: 0 auto;  /* Центрировать изображение по горизонтали */
  margin-top: 3%;
}
.rectangle-image img {
  width: 100%;  /* Фиксированная ширина изображения */
  height: 100px;  /* Фиксированная высота изображения */
  object-fit: cover;  /* Обрезать изображение, чтобы оно заполнило контейнер без искажения */
  overflow: hidden;  /* Скрыть части изображения, которые выходят за рамки контейнера */
}
.manufacture {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 3%;
}
.manufacture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}